<div class='menu-container'>
      <div class='menu'>
        <div class='signup'><button  mat-raised-button (click)="home()"  color="primary"> HOME</button> </div>
        <div class='signup' *ngIf="checkerLocalLogin() === null " ><button mat-raised-button (click)="signUP()" >Willkommen hier register</button> </div>
        <div class='signup' *ngIf="checkerLocalLogin() !== null " ><button  mat-raised-button (click)="deleteLocal()" >log out</button> </div>
        <div class='login' *ngIf="checkerLocalLogin() === null "><button  mat-raised-button (click)="login()" color="primary">login</button> </div>
        <div class='login' *ngIf="checkerLocalLogin() !== null "><button   mat-raised-button (click)="dashboard()" >Dashboard von {{getCurentUser()}}</button> </div>
      </div>
</div>
<header> Buecherverwaltung </header>
